*.class
*.war
target/
bin/
gen/
.DS_Store
/vscreens-android-client/out.map
/vscreens-webapp-sop/war/vscreens_webapp_sop
/vscreens-webapp-sop/war/WEB-INF/classes
/vscreens-webapp-sop/war/WEB-INF/deploy
/vscreens-webapp-sop/war/WEB-INF/lib
/vscreens-webapp-app/src/main/webapp/Files
.metadata*/
R.java
.settings
.project
.classpath
*/proguard/
version.android.js
classpath.txt
vscreens-webapp-sop/.gwt/.gwt-log
vscreens-ios-client/VScreens.xcodeproj/xcuserdata/
vscreens-ios-client/VScreens.xcodeproj/project.xcworkspace/xcuserdata/
android-versionCode.properties
