*.a
*.o
*.so
*.out
*.class
*.war
target/
bin/
gen/
.DS_Store
.metadata*/
R.java
.settings
.project
.classpath
*/proguard/
classpath.txt
vscreens-webapp-sop/.gwt/.gwt-log
android-versionCode.properties
